In [3]:
list=['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']

In [4]:
print(list)

['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']

In [5]:
def greeting(first, last):
  # nested helper function
  def getFullName():
    return first + " " + last

  print("Hi, " + getFullName() + "!")

In [17]:
greeting('nathan','chepkole')

Hi, nathan chepkole!

In [1]:
from pyspark.sql import SparkSession

In [2]:
import pandas as pd
import json

spark=SparkSession.builder.appName('Basic').getOrCreate()

In [3]:
df=spark.read.json(r"C:\Users\Nathan.Kipchumba\AppData\pythh\people.json")

In [4]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|NULL|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [5]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [6]:
df.columns

['age', 'name']

In [7]:
df.describe

In [8]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|NULL|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [9]:
DF.SHOW()

NameError: name 'DF' is not defined

In [10]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|NULL|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [11]:
df['age']

Column<'age'>

In [12]:
df.select('age').show()

+----+
| age|
+----+
|NULL|
|  30|
|  19|
+----+

In [18]:
df.columns

['age', 'name']

In [19]:
df.select(['age','name']).show()

+----+-------+
| age|   name|
+----+-------+
|NULL|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [20]:
df.withColumn('double_age',df['age']**2).show()

+----+-------+----------+
| age|   name|double_age|
+----+-------+----------+
|NULL|Michael|      NULL|
|  30|   Andy|     900.0|
|  19| Justin|     361.0|
+----+-------+----------+

In [27]:
df.withColumnRenamed('age','my_new_age').show

In [28]:
dff.show()

+----------+-------+
|my_new_age|   name|
+----------+-------+
|      NULL|Michael|
|        30|   Andy|
|        19| Justin|
+----------+-------+

In [29]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|NULL|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [30]:
df.createOrReplaceTempView('people')

In [31]:
results=spark.sql("SELECT * FROM people")

In [32]:
results.show()

+----+-------+
| age|   name|
+----+-------+
|NULL|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [1]:
newresults=spark.sql("SELECT * FROM people WHERE age=30")

NameError: name 'spark' is not defined

In [2]:
newresults.show()

NameError: name 'newresults' is not defined

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark= SparkSession.build.appName('new').getOrCreate()

AttributeError: type object 'SparkSession' has no attribute 'build'

In [33]:
HOME.islower();

NameError: name 'HOME' is not defined

In [2]:
jja=HOME;

NameError: name 'HOME' is not defined

In [34]:
str='HOME'

In [35]:
str.islower()

False

In [36]:
shs=1.56

In [37]:
shs.islower()

AttributeError: 'float' object has no attribute 'islower'

In [1]:
from pyspark.sql import SparkSession

In [3]:
spark=SparkSession.builder.appName('scv').getOrCreate()

In [8]:
df=spark.read.(r"C:\Users\Nathan.Kipchumba\OneDrive - I&M Bank Limited\Desktop\pyth\Python-and-Spark-for-Big-Data-master\Spark_DataFrames\sales_info.csv",inferSchema=True,header=True)

In [9]:
df.show()

+-------+-------+-----+
|Company| Person|Sales|
+-------+-------+-----+
|   GOOG|    Sam|200.0|
|   GOOG|Charlie|120.0|
|   GOOG|  Frank|340.0|
|   MSFT|   Tina|600.0|
|   MSFT|    Amy|124.0|
|   MSFT|Vanessa|243.0|
|     FB|   Carl|870.0|
|     FB|  Sarah|350.0|
|   APPL|   John|250.0|
|   APPL|  Linda|130.0|
|   APPL|   Mike|750.0|
|   APPL|  Chris|350.0|
+-------+-------+-----+

In [11]:
df.schema()

TypeError: 'StructType' object is not callable

In [12]:
print(df.show())

+-------+-------+-----+
|Company| Person|Sales|
+-------+-------+-----+
|   GOOG|    Sam|200.0|
|   GOOG|Charlie|120.0|
|   GOOG|  Frank|340.0|
|   MSFT|   Tina|600.0|
|   MSFT|    Amy|124.0|
|   MSFT|Vanessa|243.0|
|     FB|   Carl|870.0|
|     FB|  Sarah|350.0|
|   APPL|   John|250.0|
|   APPL|  Linda|130.0|
|   APPL|   Mike|750.0|
|   APPL|  Chris|350.0|
+-------+-------+-----+

None

In [40]:
import firebase_admin
from firebase_admin import credentials

cred = credentials.Certificate("path/to/serviceAccountKey.json")
firebase_admin.initialize_app(cred)

ModuleNotFoundError: No module named 'firebase_admin'

In [13]:
df.groupBy('Company').count().show();

+-------+-----+
|Company|count|
+-------+-----+
|   APPL|    4|
|   GOOG|    3|
|     FB|    2|
|   MSFT|    3|
+-------+-----+

In [14]:
df.agg({'Sales':'sum'}).show()

+----------+
|sum(Sales)|
+----------+
|    4327.0|
+----------+

In [38]:
group_data=df.groupBy('Company')

In [17]:
group_data.agg({'Sales':'sum'}).show()

+-------+----------+
|Company|sum(Sales)|
+-------+----------+
|   APPL|    1480.0|
|   GOOG|     660.0|
|     FB|    1220.0|
|   MSFT|     967.0|
+-------+----------+

In [18]:
from pyspark.sql.functions import countDistinct,avg, stddev

In [21]:
df.select(countDistinct('Company').alias('COUNT')).show()

+-----+
|COUNT|
+-----+
|    4|
+-----+

In [22]:
df.select(stddev('Sales')).show()

+------------------+
|     stddev(Sales)|
+------------------+
|250.08742410799007|
+------------------+

In [23]:
from pyspark.sql.functions import format_number

In [24]:
sale_stdv=df.select(stddev('Sales').alias('SalesST'))

In [25]:
sale_stdv.select(format_number('SalesST',2).alias('stdd')).show()

+------+
|  stdd|
+------+
|250.09|
+------+

In [26]:
df.show()

+-------+-------+-----+
|Company| Person|Sales|
+-------+-------+-----+
|   GOOG|    Sam|200.0|
|   GOOG|Charlie|120.0|
|   GOOG|  Frank|340.0|
|   MSFT|   Tina|600.0|
|   MSFT|    Amy|124.0|
|   MSFT|Vanessa|243.0|
|     FB|   Carl|870.0|
|     FB|  Sarah|350.0|
|   APPL|   John|250.0|
|   APPL|  Linda|130.0|
|   APPL|   Mike|750.0|
|   APPL|  Chris|350.0|
+-------+-------+-----+

In [27]:
df.orderBy('Sales').show()

+-------+-------+-----+
|Company| Person|Sales|
+-------+-------+-----+
|   GOOG|Charlie|120.0|
|   MSFT|    Amy|124.0|
|   APPL|  Linda|130.0|
|   GOOG|    Sam|200.0|
|   MSFT|Vanessa|243.0|
|   APPL|   John|250.0|
|   GOOG|  Frank|340.0|
|     FB|  Sarah|350.0|
|   APPL|  Chris|350.0|
|   MSFT|   Tina|600.0|
|   APPL|   Mike|750.0|
|     FB|   Carl|870.0|
+-------+-------+-----+

In [28]:
df.orderBy(df['sales'].desc()).show()

+-------+-------+-----+
|Company| Person|Sales|
+-------+-------+-----+
|     FB|   Carl|870.0|
|   APPL|   Mike|750.0|
|   MSFT|   Tina|600.0|
|     FB|  Sarah|350.0|
|   APPL|  Chris|350.0|
|   GOOG|  Frank|340.0|
|   APPL|   John|250.0|
|   MSFT|Vanessa|243.0|
|   GOOG|    Sam|200.0|
|   APPL|  Linda|130.0|
|   MSFT|    Amy|124.0|
|   GOOG|Charlie|120.0|
+-------+-------+-----+

In [5]:
nathan=23

In [4]:
nathan.show()

AttributeError: 'int' object has no attribute 'show'

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark=SparkSession.builder.appName('akili').getOrCreate()

In [6]:
dt=spark.read.csv(r"C:\Users\Nathan.Kipchumba\Downloads\EXCEL.csv", header=True, inferSchema=True)

In [7]:
dt.show()

+-----+----------+--------------------+--------+---------------+----------+-------------+
| Root|  ChatType|            Descript|Currency|         Amount|  ChatDate|     Comments|
+-----+----------+--------------------+--------+---------------+----------+-------------+
|10809| DEBENTURE|           ALL ASSET|     USD|   2,200,000.00|10/17/2012|         NULL|
|10809| DEBENTURE|   FURTHER ALL ASSET|     USD|     600,000.00|12/27/2014|         NULL|
|11090| DEBENTURE|           ALL ASSET|     KSH|  50,000,000.00| 1/15/2002|    PHOTOCOPY|
|11090| DEBENTURE|FIRST RANKING FUR...|     KSH| 100,000,000.00| 6/27/2017|         NULL|
|11866| DEBENTURE|FIRST RANKING ALL...|     USD|   3,000,000.00|      NULL|NOT AVAILABLE|
|11899| DEBENTURE|           ALL ASSET|     USD|     800,000.00|11/11/1998|         NULL|
|12192| DEBENTURE|FIST RANKING FIXE...|     USD|   2,000,000.00|11/17/2014|         NULL|
|12192| DEBENTURE|FIST RANKING FIXE...|     USD|   3,000,000.00|11/17/2014|         NULL|
|12277|DEBENTURE |           ALL ASSET|     USD|  1,600,000.00 |12/11/2014|         NULL|
|12277|DEBENTURE |             FURTHER|     USD|    500,000.00 | 11/7/2013|         NULL|
|12576| DEBENTURE|            SPECIFIC|     KSH|  68,600,000.00| 3/15/2019|         NULL|
|12604| DEBENTURE|           ALL ASSET|     KSH|  10,000,000.00|10/28/2009|         NULL|
|12672| DEBENTURE|           ALL ASSET|     USD|    225,000.00 | 8/19/2013|         NULL|
|12758| DEBENTURE|           ALL ASSET|     KSH|  25,000,000.00| 2/19/2019|         NULL|
|12793| DEBENTURE|       FIRST RANKING|     KSH| 400,000,000.00|  5/7/2012|         NULL|
|12793| DEBENTURE|      SECOND RANKING|     KSH| 300,000,000.00|  5/4/2015|     RELEASED|
|12861|DEBENTURE |ALL ASSET DEBENTURE |     KES|  3,200,000.00 | 1/17/2013|         NULL|
|12861|DEBENTURE |   FURTHER ALL ASSET|     KES| 14,800,000.00 | 11/6/2013|         NULL|
|12874|  CHATTELS|             KDC015Q|     KSH|     580,000.00|      NULL|  NOT STAMPED|
|29830|  CHATTELS|             KCP306L|     KSH|   1,400,000.00|  4/5/2018|         NULL|
+-----+----------+--------------------+--------+---------------+----------+-------------+
only showing top 20 rows

In [8]:
dt.filter(dt["Amount"]>1000000).show()

+----+--------+--------+--------+------+--------+--------+
|Root|ChatType|Descript|Currency|Amount|ChatDate|Comments|
+----+--------+--------+--------+------+--------+--------+
+----+--------+--------+--------+------+--------+--------+

In [2]:
number = 10

if number > 0:
    print('Number is positive.')

Number is positive.

In [1]:
age = 20
if (age >= 0 and age <= 12):
    print('The customer is a child')
elif(age>=13 and age <= 19):
    print('Customer is a teenager')
elif( age>=20 and age <=29 ):
    print('Customer was in twentees')
elif(age>=30):
    print('Customer was an adult')
else:
    print('invalid')

Customer was in twentees

In [1]:
carrots=24
rabbits=8
cr_ra=carrots/rabbits
rabbits=12
print(cr_ra)

3.0

In [2]:
coconut_count = "34"
mango_count = "15"
tropical_fruit_count = coconut_count + mango_count
print(tropical_fruit_count)

3415

In [6]:
class motobike:
    def __init__(self, name, model):
        self.name=name
        self.model=model

    def intro(self):
        print(f"Hello, motobike name is {self.name} and model {self.model} type")

bike1=motobike('Bajaj','250cc')

print(bike1)
#print(bike1.intro())

<__main__.motobike object at 0x000002D7ED0B6D50>

In [41]:
verse = "If you can keep your head when all about you\n  Are losing theirs and blaming it on you,\nIf you can trust yourself when all men doubt you,\n  But make allowance for their doubting too;\nIf you can wait and not be tired by waiting,\n  Or being lied about, don’t deal in lies,\nOr being hated, don’t give way to hating,\n  And yet don’t look too good, nor talk too wise:"
leng=len(verse)
print(leng)
indexofand=verse.find('and')
print(indexofand)
countand=verse.count('and')
print(countand)
youlast=verse.rfind('you')
print(youlast)
youcount=verse.count('you')
print(youcount)

362
65
2
186
8

In [ ]:
#!/usr/bin/env python
# coding: utf-8

import pandas as pd
import cx_Oracle

# Define the connection string for Oracle
connstr = 'EDW/EDw2022#@192.168.202.42:1526/EDWDB'

# Connect to Oracle
conn_ora = cx_Oracle.connect(connstr)
cur = conn_ora.cursor()

# Load data from Excel into a DataFrame


excel_file = r"C:\\Users\Nathan.Kipchumba\\source\\repos\\NTB_MONTHLY_BRANCH_BUDGETS_29_FEB_2024.xlsx"  # Replace 'your_excel_file.xlsx' with the path to your Excel file
df = pd.read_excel(excel_file)

# Define the SQL insert statement
sql_insert = '''
    INSERT INTO imke.NTB_MONTHLY_BRANCH_BUDGETS_24 (
        BRCODE, BRANCH_NAME, Jan_2024, Feb_2024, Mar_2024, Apr_2024, May_2024, June_2024,
        Jul_2024, Aug_2024, Sept_2024, Oct_2024, Nov_2024, Dec_2024
    ) VALUES (
        :1, :2, :3, :4, :5, :6, :7, :8, :9, :10, :11, :12, :13, :14
    )
'''

# Convert DataFrame to list of tuples
dftuples = [tuple(x) for x in df.values]

# Define batch processing variables
start_pos = 0
batch_size = 10000

# Insert data into Oracle in batches
while start_pos < len(dftuples):
    data = dftuples[start_pos:start_pos + batch_size]
    start_pos += batch_size
    cur.executemany(sql_insert, data)
    conn_ora.commit()

# Close cursor and connection
cur.close()
conn_ora.close()

In [2]:
from datetime import datetime, timedelta

24-Apr-24